
#opcoes {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}


#bolos{
    margin-bottom: 10px;
    margin-top: 10px;
}
#doces {
    margin-bottom: 10px;
}

article {
    display: flex;
    flex-flow: row nowrap;
    height: 600px;
}
article .cards {
    height: 400px ;
    font-weight: 600;
    width: 30%;
}

article #card-3{
    height: 400px ;
}

main #wpp{
    width: 40%;
}

