@charset "UTF-8";
:root {
    --cor0:#f5f5f5;
    --cor1:#E67E85;
    --cor2:#E44257;
    --cor3:#E2AFA2;
    --cor4:#000000; 
}
@media all { /* Mobile/ Geral*/
    #voltar {
        position: absolute;
        top: 10px;
        left: 10px;
        text-decoration: none;
        color: #000000;
    }
    main {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    #voltar img {
        width: 13px;
        margin-right: 4px;
    }
    form  {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    fieldset {
        border: 1px solid #000000;
        border-radius: 10px;
        margin: 10px auto;
        width: 80vw ;
        max-width: 300px;
        background-color: var(--cor0);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568);
    }
    fieldset legend {
        font-size: 1.2em;
        font-weight: bold;
        color: #000000;
        text-align: center;
    }
    fieldset label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    fieldset label:nth-last-child(1):nth-child(even) {
        grid-column: span 2; 
    }
    fieldset p {
        display: inline;
        margin-bottom: -5px;
        text-align: center;
    }
    fieldset p.preco {
        display: inline;
        margin-top: -1px;
    }
    fieldset img {
        width: 90%;
        max-width: 140px; 
        height: 100px;
        border-radius: 5px;
    }

    form input.botao-enviar{
        padding: 10px 40px;
        background-color: var(--cor1);
        border: none;
        cursor: pointer;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568);
        border-radius: 10px;
    }

    form input.botao-enviar:hover{
        transform: scale(1.05);
        transition: 0.3s;
    }

    form input.botao-enviar:active{
        background-color: var(--cor2);
    }

    fieldset label:hover{
        transform: scale(1.05);
        transition: 0.3s;
    }
    #decoracao{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #decoracao #input-decoracao{
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        gap: 20px;

    }

    #decoracao #input-decoracao textarea{
        height: 70px;
        width: 70%;
        resize: vertical;   
        overflow-y: auto;
    }   

    
    
}
@media screen and (min-width: 576px) { /* Tablet */
    #voltar img {
        width: 15px;
    }
    fieldset{
        max-width: 500px;
    }
    
    form input.botao-enviar{
        padding: 20px 60px;
        font-size: 1em;
    }
}
@media screen and (min-width: 1200px) {
    #voltar img {
        width: 16px;
    }
    
    
    fieldset{
        max-width: 1100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 25px;
        
    }
    
    form input.botao-enviar{
        padding: 30px 70px;
        font-size: 1.1em;
    }

    fieldset img{
        width: 90%;
        max-width: 200px; 
        height: 120px;
    }
}
