@charset "UTF-8";
:root {
    --cor0:#f5f5f5;
    --cor1:#E67E85;
    --cor2:#E44257;
    --cor3:#E2AFA2;
    --cor4:#000000; 
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
div.escolha {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: min(88vw, 580px);
    height: max(60vh, 600px);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--cor4);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 2%;
    font-size: 1.5em;
    color: #000000;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568);
}
div.escolha:hover {
    transition: 0.3s;
    transform: scale(1.05);
}
div .titulo-opcoes{
    color:var(--cor0) ;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    font-family: "Aboreto", system-ui;
    text-align: center;
}
div .botao-fotos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor1);
    color: var(--cor0);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 60%;
    height: max(10%, 40px);
    font-size: 0.8em;
    font-family: "Aboreto", system-ui;
    box-shadow: 0 0 black;
    text-decoration: none;
}
div .botao-fotos:hover {
    background-color: var(--cor2);
    transition: 0.3s;
    transform: scale(1.05);
}
div .botao-fotos:active {
    background-color: var(--cor3);
}
div #escolha-bolo-simples {
    background-image: url(../imagens/escolha-bolo-simples.jpeg);
}	
div #escolha-bolo-decorado {
    background-image: url(../imagens/escolha-bolo-decorado.jpeg);
}



