@charset 'UTF-8';
    html {
        font-size: 1.3em;
    }
    main {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    #opcoes {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        
    }


    article {
        display: flex;
        flex-flow: row nowrap;
        height: 600px;
    }
    article .cards {
        height: 400px ;
        font-weight: 600;
        width: 30%;
    }
    
    article #card-3{
        height: 400px ;
    }

    