@charset 'UTF-8';
html {
    font-size: 1.3em;
}
ul #lista-menu li {
    height: calc(35 * 1.3);
}
div #opcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
article {
    height: calc(900px * 1.3);
}
article .cards  {
    height: calc(250px * 1.3);
    font-weight: 600;
}
article .cards h2 {
    font-size: 1.7em;
}
div #wpp {
    height: min(45px, 30px);
}
